.menu{
    color: #58AA94;
}
.hr__menu{
    background-color: #58AA94;
}
[class*=sidebar-light-] .sidebar a{
    color: #58AA94;
}
[class*=sidebar-light-] .nav-sidebar>.nav-item>.nav-link:active, [class*=sidebar-light-] .nav-sidebar>.nav-item>.nav-link:focus{
    color: #58AA94;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link {
    color: #58AA94;
}

.lbtn{
    background-color: #58AA94;
}

/* .dpp{
    color: white !important;
} */
